@using DebetCredit.Models;
@using System.Collections.Generic;

@model GlobalModel<CategoryModel>
@{
    ViewBag.Title = "Категории";
}

<br />
<a class="btn btn-success" href="@Url.Action("CreateCategory", "Balance")">Добавить категорию</a>
<br />
<br />
<br />
<div>
    <table class="table table-bordered table-striped  text-center">
        <tr>
            <td width="5%"><b>Категория</b></td>
            <td width="5%"><b>Тип</b></td>
            <td width="5%"><b>Действия</b></td>
        </tr>
        @foreach (var item in Model.Rows)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.CategoryName)</td>
                <td>@Html.DisplayFor(model => item.TypeName)</td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("EditCategory", "Balance", new { @id=@item.ID })">Редактировать</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteCategory", "Balance", new { @id=@item.ID })">Удалить</a>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
