@using DebetCredit.Models;

@model GlobalModel<BalanceModel>
@{
    ViewBag.Title = "Расходы";
}

<table class="table table-bordered table-striped text-center">
    <tr>
        <td><b>Дата</b></td>
        <td><b>Категория</b></td>
        <td><b>Сумма</b></td>
        <td><b>Комментарии</b></td>
        <td><b>Действия</b></td>
    </tr>
    @foreach (var item in Model.Rows)
    {
        <tr>
            <td>@item.Date.ToString("dd.MM.yyyy")</td>
            <td>@Html.DisplayFor(model => item.CategoryName)</td>
            <td>@Html.DisplayFor(model => item.Amount)</td>
            <td>@Html.DisplayFor(model => item.Comment)</td>
            <td>
                <a class="btn btn-success" href="@Url.Action("Edit", "Balance", new { @id=@item.ID })">Редактировать</a>
                <br />
                <br />
                <a class="btn btn-danger" href="@Url.Action("Delete", "Balance", new { @id=@item.ID })">Удалить</a>
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
